.Add {
    width: 56px;
    height: 36px;
    color: rgba(22, 24, 35, 0.75);
    margin-left: 12px;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
}

.Edit {
    width: 56px;
    height: 36px;
    color: white;
    margin-top: 8px;
    margin-left: 28px;
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
}

.Cancel {
    width: 56px;
    height: 36px;
    color: White;
    margin-left: 12px;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}
