:root {
    --text-color: black;

    --mobile-width-m: 374px;
    --mobile-width-l: 425px;
    --desktop-width: 652px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    overflow-y: overlay;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

button,
input {
    border: none;
}

li {
    list-style: none;
}
