@import './responsive.module.scss';

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.inner {
    width: var(--desktop-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #feb272;
    padding-bottom: 16px;
    border-radius: 5px;
}

.header {
    margin-top: 16px;
}

.form {
    display: flex;
    margin-top: 16px;
    width: var(--desktop-width);
    padding: 0 16px;

    input {
        flex: 1;
        border-radius: 5px;
    }

    input:not(:placeholder-shown) {
        font-style: normal;
        ~ .add-btn {
            color: white;
        }
    }
}

.input-todo {
    padding-left: 8px;
    font-style: italic;
    &:focus {
        outline: 2px solid green;
    }
}

.todo-list {
    width: var(--desktop-width);
    font-size: 1.9rem;
    margin-top: 16px;
    padding: 0 16px;
    border-radius: 5px;
}

.todo-item {
    display: flex;
    background-color: white;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6rem;

    ~ .todo-item {
        border-top: 1px solid #ccc;
    }

    &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.show-todo {
    display: flex;
    align-items: center;
}
.checkbox-todo {
    width: 20px;
    height: 20px;
    border-radius: 2px;
}
.desc-todo {
    padding-left: 8px;
    flex: 1;
    word-wrap: break-word;
    line-height: 2.2rem;
    max-width: calc(var(--desktop-width) - 112px);
}

.edit-btn {
    padding-right: 8px;
    cursor: pointer;
}

.edit-input {
    outline: 1px solid green;
    width: calc(var(--desktop-width) - 120px);
    margin-left: 28px;
    height: 36px;
    border-radius: 5px;
    padding-left: 8px;
    margin-top: 8px;
    font-style: italic;

    &:not(:placeholder-shown) {
        font-style: normal;
    }
}

.delete-todo {
    padding: 4px;
    font-size: 2.2rem;
    cursor: pointer;
    user-select: none;
}

.complete {
    color: #ccc;
    text-decoration: line-through;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    width: 620px;
    border-radius: 5px;
}
.check-all {
    cursor: pointer;
    padding: 1px 8px;
    display: flex;
}
.desc {
    font-size: 1.9rem;
    padding-left: 8px;
    user-select: none;
}
.action {
    padding-right: 16px;
    line-height: 2.1rem;
}
.action-item {
    font-size: 1.9rem;
    position: relative;
    padding: 2px 8px;
    cursor: pointer;

    ~ .action-item {
        margin-left: 8px;

        &::after {
            content: '';
            position: absolute;
            border-left: 1px solid black;
            height: 24px;
            left: -5px;
        }
    }
}

.active {
    background-color: #ccc;
    border-radius: 5px;
    font-style: italic;
    user-select: none;
}

@media screen and (max-width: 425px) {
    .inner {
        width: var(--mobile-width);
    }

    .form {
        width: var(--mobile-width);
    }

    .todo-list {
        width: var(--mobile-width);
    }

    .desc-todo {
        max-width: calc(var(--mobile-width) - 112px);
    }

    .edit-input {
        width: calc(var(--mobile-width) - 120px);
    }

    .footer {
        display: flex;
        flex-direction: column;
        width: var(--mobile-width);
    }
}
